#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.blog-content {
  color: #888;
}

.blog-content > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.blog-content > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.error {
  color: red;
}